{% extends 'base.html' %}

{% block title %}Услуги{% endblock %}

{% block header %}<h1 class="text-left">Заказы услуг</h1>{% endblock %}

{% block body %}
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
              <div class="infinite-container">
                {% for order in object_list %}
                  <div class="infinite-item">
                    <a href="/allorders/{{ order.id }}" class="course-element">
                            <span class="service-title">Заказ № {{ order.id }} - {{ order.service }} - {{ order.user }}</span><br>
                        </a>
                  </div>
                {% endfor %}
              </div>

              <div class="loading" style="display: none;">
                Loading...
              </div>
              {% if page_obj.has_next %}
                <a class="infinite-more-link" href="?page={{ page_obj.next_page_number }}">More</a>
              {% endif %}
              <script>
                var infinite = new Waypoint.Infinite({
                  element: $('.infinite-container')[0],
                  onBeforePageLoad: function () {
                    $('.loading').show();
                  },
                  onAfterPageLoad: function ($items) {
                    $('.loading').hide();
                  }
                });
              </script>

{% endblock %}



